:root{
    --fontColor: #ffffff;
}

li{
    list-style-type: none;
    font-size: 2.6vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

}

nav{
    width: 100vw;
    background-color: #5c5997;
    -webkit-box-shadow: 0px 0.5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0.5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0.5px 5px 0px rgba(0,0,0,0.75);
}

ul{
    display: flex;
}

a:hover{
    background-color: rgba(0, 0, 0, 0.164);
}

a{
    text-decoration: none;
    color: var( --fontColor);
    padding: 0 2rem;
    
}
a:visited{
    color:var( --fontColor);
}