.container{
    display: flex;
    flex-direction: column;
    align-items: center;
     height: 100vh;
     background-color: #727086;
     background-image: linear-gradient(0deg, #928fac 0%, #37393A 100%);
     
}


